.front-end
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}

.front-end p
{
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    align-items: center;
}

.front-end i
{
    font-size: 48px;
}

.front-end .fa-html5
{
    color: rgb(255, 132, 0);
}

.front-end .fa-css3-alt
{
    color: rgb(0, 17, 255);
}

.front-end .fa-square-js
{
    color: rgb(255, 234, 0);
}

.front-end .fa-react
{
    color: rgb(0, 255, 242);
}

.front-end .fa-bootstrap
{
    color: rgb(64, 1, 100);
}

.front-end .fa-angular
{
    color: rgb(174, 0, 0);
}