.about-us
{
    font-size: 24px;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.about-us-heading
{
    font-size: 48px;
    color: blue;
    padding: 40px 0px;
}

.about-text
{
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
}