.navbar-menu
{
    background-color: rgb(84, 84, 255);
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    padding: 10px 20px;
}
.navbar-profile
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.navbar-image
{
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}

.navbar-name
{
    padding: 0px 10px;
    color: white;
}

.navbar-menu-contents
{
    float: right;
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    text-align: center;
}
.navbar-menu i{
    padding-right: 5px;
}
.navbar-menu li
{
    float: right;
    margin: 5px;
    font-size: 16px;
    color: rgb(84, 84, 255);
    list-style: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
}

.navbar-menu li:hover
{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: blue;
}