.projects
{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-data
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 7px 29px 0;
    margin: 20px;
}

.project-data > img
{
    width: 50%;
}


.project-info
{
    padding: 30px;
    width: 44%;
}

.project-heading
{
    font-size: 38px;
    color: blue;
    padding: 10px 0px;
}

.project-info > p
{
    font-size: 20px;
    padding: 16px 0px;
}

.project-info > button
{
    margin: 10px 0px;
    padding: 10px 30px;
    background-color: blue;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button > a
{
    color: white;
    text-decoration: none;
}
