.tech-stack
{
    align-items: center;
    text-align: center;
    padding:50px;
}
.text-stack-heading
{
    font-size: 48px;
    text-decoration: underline;
    color: blue;
    padding: 20px;
}

.text-stack-para
{
    font-size: 24px;
    padding: 20px;
}

.tech-stack button
{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    margin: 10px;
    outline: none;
    border: none;
    align-items: center;
    text-align: center;
    cursor: pointer;
}